.Header{
    text-align: left;
    padding: 5px 25px;
    border-bottom:5px #1a2125 solid;
    background-color: #263238;
    color: #fdfdfd;
}
.Header h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 